body {
    background-color: #e7e7e7;
    font-family: "Courier New", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container {
    background-color: rgb(25, 168, 25);
    height: 600px;
    width: 400px;
    margin-top: 40px;
    padding: 10px;
    border: 5px rgb(17, 104, 17) solid;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    flex: none;
    display: flex;
    flex-direction: column;
}

.screen {
    font-size: 50px;
    background-color: lightblue;
    height: 80px;
    width: auto;
    padding: 10px 13px;
    margin: 10px 20px;
    border-radius: 5px;
    box-shadow: inset 0 0 15px black;
    flex: none;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
}

.keypad {
    margin: 10px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.line {
    flex: 1;
    display: flex;
    gap: 5px;
}

.key {
    font-size: 30px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px rgb(56, 56, 56);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key:active {
    transform: translateY(5px);
    box-shadow: none;
}